* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: lightgrey;
  color: white;
  text-align: center;
  font-size: 25px;
}
.lotto {
  padding: 30px;
}
.lotto span {
  padding: 0 10px;
}
